*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
ENV/
env.bak/
venv.bak/
.pytest_cache/
.coverage
.tox/
.cache
nosetests.xml
coverage.xml
*.log
*.db
*.sqlite
*.sqlite3
config.ini
.DS_Store
Thumbs.db
chicrypt_client/build/
chicrypt_client/android/
chicrypt_client/ios/    
chicrypt_client/linux/
chicrypt_client/windows/
chicrypt_client/web/
chicrypt_client/.dart_tool/
chicrypt_client/.idea/
chicrypt_client/macos/
chicrypt_client/.flutter-plugins
chicrypt_client/.flutter-plugins-dependencies
chicrypt_client/pubspec.lock
chicrypt_client/.gitignore

